body {
  background-color: rgb(186, 186, 186);
  /* background-image: url("../bballBG.png"); */
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 1400px;
  color: white;
  
}

.headline {
  text-shadow:
    1px 1px 0 #000,
    -0px 1px 0 #000,
    -0px -0px 0 #000,
    2px 2px 0 #000;
}

.seed {
  font-weight: 700;
}

.popover {
  border: 1.6px solid black;
  box-shadow:
  4px 4px 0 #48484890,
    -0px 0px 0 #48484890,
    -0px -0px 0 #48484890,
    0px 0px 0 #48484890;
  text-align: left;
}

.popover-header {
  display: flex;
  background: linear-gradient(to top, rgb(0, 17, 114), 20%, rgb(0, 164, 222), 80%, rgb(0, 17, 114));
  text-align: center;
  padding-top: 15px;
  text-shadow:
    1px 1px 0 #000,
    -0px 1px 0 #000,
    -0px -0px 0 #000,
    1px 1px 0 #000;
  border-bottom: 1px solid black;
}

.table {
  border: .1rem solid rgb(114, 114, 114);
  width: 92%;
  margin: auto;
  opacity: 0.9;
}

.table-head {
  background-color: rgb(0, 164, 222);
  color: white;
  font-size: 120%;
  border-top: .13rem solid rgb(114, 114, 114);
  border-left: .13rem solid rgb(114, 114, 114);
  border-right: .13rem solid rgb(114, 114, 114);
  border-bottom: .13rem solid rgb(114, 114, 114);
  text-shadow:
    1px 1px 0 #000,
    -0px 1px 0 #000,
    -0px -0px 0 #000,
    1px 1px 0 #000;
} 

.bracket {
  font-size: 11px;
  text-wrap: stable;
  min-width: 1000px;
  background-color: rgba(154, 154, 154, 0.94);
  color: white;
}

.round-names {
  text-align: center;
  padding: 4px 0;
  border-bottom: 1px solid black;
  text-shadow:
    1px 1px 0 #000,
    -0px 1px 0 #000,
    -0px -0px 0 #000,
    1px 1px 0 #000;
}

.champ {
  background-color: white;
  color: rgb(0, 164, 222);
  font-size: 20px;
  text-shadow: none;
  border: 3px double black
}

.champ-header {
  text-shadow:
    1px 1px 0 #000,
    -0px 1px 0 #000,
    -0px -0px 0 #000,
    2px 2px 0 #000;
}

.brackets {
  border: none;
  background-color: white;
  
}

.entryName {
  cursor: context-menu;
}

.teamNamePopover {
  cursor: context-menu;
}

.caption {
  font-size: 80%;
}

#selectedTeam {
  text-decoration: solid line-through rgba(0, 0, 0) 1px;
}

tr {
  font-size: 90%;
  border-bottom: .1rem solid rgb(162, 162, 162);
}

table .winner {
  background-color: green;
}

table .loser {
  background-color: red;
}

.konkhmer-sleokchher-regular {
  font-family: "Konkhmer Sleokchher", system-ui;
  font-weight: 400;
  font-style: normal;
}

.koulen-regular {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 1000px) {
  body {
    font-size: 90%;
  }

  h4 {
    font-size: 150%;
  }

  tr {
    font-size: 90%;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 80%;
  }
}

@media (max-width: 750px) {
  body {
    font-size: 70%;
  }

  tr {
    font-size: 65%;
  }
}

@media (max-width: 650px) {
  body {
    font-size: 60%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 60%;
    min-height: 1200px;
  }

  h1 {
    font-size: 200%;
  }

  .table {
    width: 96%;
  }

}