header {
  background: linear-gradient(to right, rgb(0, 164, 222), 70%, rgb(0, 17, 114));
  color: white;
  border-bottom: 10px double white;

}

h1 {
  padding-top: 10px;
  text-shadow:
    3px 1px 0 #000,
    -1px 2px 0 #000,
    -1px -1px 0 #000,
    4px 4px 0 #000;
}

h1 a {
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: white;
}

.navi-link {
  color: white;
  text-decoration: none;
  font-size: 110%;
  text-shadow:
    1px 1px 0 #000,
    -0px 1px 0 #000,
    -0px -0px 0 #000,
    2px 2px 0 #000;
}

.navi-link:hover {
  color: white;
  text-decoration: solid underline rgb(241, 85, 35, 0.8) 5px;
  text-underline-offset: 10px;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 4s linear;
  }
}

@media (max-width: 1050px) {
  header {
    font-size: 100%;
  }

  h1 {
    font-size: 220%;
  }
}

@media (max-width: 575px) {
  header {
    border: none;
  }

  h1 {
    text-shadow:
    2.5px 0.9px 0 #000,
    0.5px 2px 0 #000,
    -0.5px -0.5px 0 #000,
    2.2px 2.2px 0 #000;
  }

  .navi {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .navi a {
    text-shadow:
    0.5px 0.5px 0 #000,
    -0px 0.5px 0 #000,
    -0px -0px 0 #000,
    0.5px 0.5px 0 #000;
  }
}